<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% seo %}
    <!-- Begin Stylesheets & Fonts -->
    <link rel="stylesheet" href="/assets/css/styles.css">
    <!-- End Stylesheets & Fonts -->
    <!-- Begin External scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/53a4d5f931.js" crossorigin="anonymous"></script>
    <!-- End External scripts -->
    <!-- Begin Internal scripts -->
    <script src="/assets/js/mobile-menu.js" ></script>
    {% include js/header-scripts.js %}
    <!-- End Internal scripts -->


</head>