<ul class="social-nav">
    <li><a {% if page.hero-classes contains "purple" %}class="white"{% endif %} target="_blank" href="https://www.facebook.com/groups/2064021427075304/"><i class="fab fa-facebook"></i></a></li>
    <li><a {% if page.hero-classes contains "purple" %}class="white"{% endif %} target="_blank" href="https://www.instagram.com/beyond_return/"><i class="fab fa-instagram"></i></a></li>
    <li><a {% if page.hero-classes contains "purple" %}class="white"{% endif %} target="_blank" href="https://twitter.com/BeyondReturnOrg"><i class="fab fa-twitter"></i></a></li>
</ul>