@font-face {
    font-family: Space Mono;
    src: url('/assets/fonts/space-mono/SpaceMono-400.ttf');
    src: url('/assets/fonts/space-mono/SpaceMono-400.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: Space Mono;
    src: url('/assets/fonts/space-mono/SpaceMono-700.ttf');
    src: url('/assets/fonts/space-mono/SpaceMono-700.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: Manrope;
    src: url('/assets/fonts/manrope/Manrope-300.ttf');
    src: url('/assets/fonts/manrope/Manrope-300.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: Manrope;
    src: url('/assets/fonts/manrope/Manrope-500.ttf');
    src: url('/assets/fonts/manrope/Manrope-500.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: Manrope;
    src: url('/assets/fonts/manrope/Manrope-800.ttf');
    src: url('/assets/fonts/manrope/Manrope-800.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: Pathway Gothic One;
    src: url('/assets/fonts/pathway-gothic/PathwayGothicOne.ttf');
    src: url('/assets/fonts/pathway-gothic/PathwayGothicOne.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}