body {

	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	line-height: 1.2;

	background-image: linear-gradient(to bottom,rgba(3, 188, 150, 0.0),rgba(3, 154, 123, 0.0)), url("../images/purple.png");
	height: 100vh;
	width: 100vw;
	background-size: 100% 100%;
	background-color: white;
	background-repeat: no-repeat;
	position: relative;
}

body a {
	color: #e444dc;
	font-weight: 600;
}



li {
	padding-left: 2em;
	padding-bottom: 2em;
}

footer {
	background-color: #713bdb;  
	color: #F2F8FF;
	padding: 3% 20% 2% 20%;
}

.nav-link {
	padding: 1%;
	font-size: 1rem;
	color: white;
}

nav {
	padding-top: 1%;
}

.section {
	margin: 5% 15% 5% 20%;
}

.section-text {
	margin: 0% 15% 0% 20%;
	padding-top: 2%;
	padding-bottom: 5%;
	color: #713bdb;
	font-weight: 400;
	line-height: 1.5;
}


.section h1 {
	padding-bottom: 2%;
	color: black;
	font-size: 2.5rem;
}

.section-bg {
	background-image: linear-gradient(to bottom,rgba(3, 188, 150, 0.0),rgba(3, 154, 123, 0.0)), url("../images/clearbg.png");

	width: 100vw;
	background-size: 100% 100%;
	background-color: #d5bef8;
	background-repeat: no-repeat;
	position: relative;
}

.section-text-bg {
	margin: 0% 20% 0% 20%;
	padding-top: 3%;
	padding-bottom: 5%;
	color: #532ca0; 
	font-weight: 400;
	line-height: 1.5;
}



.title h1 {
	font-size: 6rem;
	font-weight: 600;
	padding-top: 7%;
	color: #f1e8fd;   
}

.title-color{
	color: #e444dc;
}
.title {
	color: #f1e8fd;    
}

.quote {
	font-style: italic;
	color: #80d3e3;    
}

.share-images {
	padding-top: 3%;
}