/*------COLORS------*/
$merlin:        #622cd7;
$cosmic:        #713bdb;
$violet:        #824be4;
$lav:           #d5bef8;
$pink:          #e444dc;
$turq:          #80d3e3;
$yell:          #f9dd6e;

/*-------FONTS-------*/
$copyfont: "Manrope",helvetica,arial,sans-serif;
$headfont: "Pathway Gothic One",helvetica,arial,sans-serif;
$monofont: "Space Mono",courier,monospace;

/*----BREAKPOINTS----*/
$after-mobile:          501px;
$tablet:                800px;
$small-desktop:         1024px;