<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
  </head>
  <body>
    {% include navigation.html %}
    {{ content }}
  </body>
   <footer><p>Fiscally sponsored by District Commons - Join us as we explore experimental commoning in autonomous communities, spaces, and projects.</p>
	<p>District Commons is a 501-(c)3 non-profit organization.
	Operations@DistrictCommons.net</p></footer>
</html>
